:root {
    --gap: 0.625rem;
    --dark: #333333;
    --light: #F5F5F5;
    --light-green: #4CAF50;
    --dark-green: #3D653E;
    --link-light: #ffffff;
    --link-dark: #0078D7;
    --default_margin: 1.875rem;

    /* #9e9e9e (Neutral gray) (for secondary buttons) */
}

.rounded {
    padding: 0.5em; 
    border-radius: 0.5em;
}

.blue_link {
    color: var(--link-dark);
    cursor: pointer;
}
.highlighted_row {
    height: 100%;
    width: 3000rem; 
    position: absolute; 
    left: -1000rem; 
    z-index: -1;
    background-color: white
}
*:has(.highlighted_row) {
    position: relative;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
hr {
    border-style: dotted; 
    border-width: 0 0 2px 0; 
    border-color: var(--dark); 
    width: 100%; 
    margin: 0.25rem 0;
}
.title_margin {
    margin: 2rem 0 1rem 0;
}
.title_font {
    font-size: 2rem;    
}



.list_container {
    border: 2px solid #ccc;
    background-color: white;
}
.list_item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.list_item:hover {
    background-color: #ccc;
}
.list_selected {
    background-color: var(--link-dark);
    color: white;
}


* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--light);
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5; */
}

a {
    color: var(--link-dark);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    color: #317eac;
    margin: 1rem 0;
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0.625rem 0;
}

button {
    background-color: inherit;
    padding: 0.5rem;
    /* border: 0px; */
    border: 1px solid rgba(0, 0, 0, 0.0);
}

button:hover {
    /*background-color: #e8f5e9; #fff;*/
    /* color: blue; */
    /* border: 1px solid rgba(0, 0, 0, 1); */
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

input, select {
    margin: 0px;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0px;
}

select {
    cursor: pointer;
}

input[type="range"] {
    padding: 0;
}